<select [(ngModel)]="selectedDataFormat">
    <option *ngFor="let dataFormat of allDataFormats" [value]="dataFormat.key">
      {{ dataFormat.value }}
    </option>
  </select>
  <select [(ngModel)]="selectedSchema" *ngIf="withSchema">
    <ng-container *ngFor="let schema of allSchemas">
      <option *ngIf="schema.forFormat.toLowerCase() === selectedDataFormat.toLowerCase()" [value]="schema.name">
        {{ schema.name }}
      </option>
    </ng-container>
  </select>
  <br>

<label for="withSchema">With schema</label>
<input type="checkbox" [(ngModel)]="withSchema" id="withSchema">
<br>

<textarea [(ngModel)]="content" cols="30" rows="10"></textarea>
<br>

<button (click)="validateContent()" [disabled]="!content || !selectedDataFormat || (withSchema && !selectedSchema)">Validate</button>
<br>

<b *ngIf="validateResult && validateResult.isValid" class="success">{{ selectedDataFormat }} is valid!</b>
<b *ngIf="validateResult && !validateResult.isValid" class="error">{{ selectedDataFormat }} is invalid! ({{ validateResult.errorMessage }})</b>
  